button{
    width: 85px;
    height: 25px;
    border-radius: 16px;
    border: none;
    color: var(--white);
    background-color: var(--main);
    font-weight: bold;
    cursor: pointer;
    align-items: center;

}

button:hover{
    border: 1px solid var(--main);
    background-color: var(--white);
    color: var(--main);
}