*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main: red;
    --secondary: rgb(248, 70, 70);
    --white: white;
    --card-background: rgb(250, 223, 223);
    --text: rgb(58, 57, 57);
    --conteiner: rgb(129, 129, 129);
}

body{
    background-color: black;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}